p Hello #{rep},

p My name is #{name} and I am an organizer of AwesomeStuff!

p Lorem Ipsum Text Goes Here

p Let me know if you are interested—and if you have any questions, I would be more than happy to answer them! 

p Thank you,

p #{name}
p Placeholder Committee of AwesomeStuff

p Email: #{youraddr}
p Phone: 
